<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starters</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="css/starters.css">
</head>
<body>
        <nav class="navbar">
            <div class="logo"><img src="/images/restaurantBEE.png" alt="logo"></div>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="maincourse3">Main Course</a></li>
                <li><a href="desserts3">Dessert</a></li>
                <li><a href="maharashtra">Maharashtra</a></li>
                <li><a href="gujarat">Gujarati</a></li>
        </nav>
     <div class="container">
        <h1>South Indian Starters</h1>
        <div class="card">
            <img src="imagessouth/starters/bonda.jpeg" alt="bonda">
            <div class="card-content">
                <h3>Bonda</h3>
                <p>Samosa with green chutni and red chutni</p>
                <p>Price: &#8377;30</p>
                <div class="quantity">
                    <button class="minus-btn">-</button>
                    <input type="text" class="qty-input" value="0" readonly>
                    <button class="plus-btn">+</button>
                </div>
                <button class="heart-btn"><i class="fas fa-heart"></i></button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagessouth/starters/gobi manchrian.jpeg" alt="manch">
            <div class="card-content">
                <h3>Gobhi Manchurian</h3>
                <p>Pakora with green and red chutney</p>
                <p>Price: &#8377;100</p>
                <div class="quantity">
                    <button class="minus-btn">-</button>
                    <input type="text" class="qty-input" value="0" readonly>
                    <button class="plus-btn">+</button>
                </div>
                <button class="heart-btn"><i class="fas fa-heart"></i></button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagessouth/starters/Idli chaat.jpeg" alt="idli">
            <div class="card-content">
                <h3>Idli Chaat</h3>
                <p>Aloo Tiikki served with chole and chutney</p>
                <p>Price: &#8377;60</p>
                <div class="quantity">
                    <button class="minus-btn">-</button>
                    <input type="text" class="qty-input" value="0" readonly>
                    <button class="plus-btn">+</button>
                </div>
                <button class="heart-btn"><i class="fas fa-heart"></i></button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagessouth/starters/medu vada.jpeg" alt="medu">
            <div class="card-content">
                <h3>Medu Vada</h3>
                <p>Paneer Tikka with Sauce</p>
                <p>Price: &#8377;120</p>
                <div class="quantity">
                    <button class="minus-btn">-</button>
                    <input type="text" class="qty-input" value="0" readonly>
                    <button class="plus-btn">+</button>
                </div>
                <button class="heart-btn"><i class="fas fa-heart"></i></button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagessouth/starters/mirchi pakoras.jpeg" alt="Pakora">
            <div class="card-content">
                <h3>Mirchi Pakora</h3>
                <p>Papdi Chaat served wiith green and red chutney</p>
                <p>Price: &#8377;40</p>
                <div class="quantity">
                    <button class="minus-btn">-</button>
                    <input type="text" class="qty-input" value="0" readonly>
                    <button class="plus-btn">+</button>
                </div>
                <button class="heart-btn"><i class="fas fa-heart"></i></button>
            </div>
        </div>
        <br>
        <div class="card">
            <img src="imagessouth/starters/veg cutlet.jpeg" alt="cutlet">
            <div class="card-content">
                <h3>Veg Cutlet</h3>
                <p>Hara Bhara Kabab served with green and red chutney</p>
                <p>Price: &#8377;150</p>
                <div class="quantity">
                    <button class="minus-btn">-</button>
                    <input type="text" class="qty-input" value="0" readonly>
                    <button class="plus-btn">+</button>
                </div>
                <button class="heart-btn"><i class="fas fa-heart"></i></button>
            </div>
        </div>
    </div> 

    <script src="starters.js"></script>
</body>
</html>
