body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}
.back {
    min-height: 100vh;
    background: url("../images/image4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 2;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0rem 1rem;
}
.logo img{
    height: 100px;
    width: 200px;
    padding-top: 20px;
}
.navbar ul{
    list-style: none;
}

.navbar ul li {
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.5rem;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    border-bottom: 2px solid transparent;

}

.navbar ul li a:hover{
    border-bottom: 2px solid white;
}

.navbar h2{
    color: white;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .navbar ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .navbar ul li {
        margin: 0.5rem 0;
    }
}

.text{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.back::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
    z-index: -1;
    top: 0;
    opacity: 0.5;
}

.text a{
    color: aliceblue;
    background-color: #f6b93b;
    font-weight: 900;
    padding: 0.8rem 1rem;
    font-size: 2rem;
    margin: 0.8rem auto;
    display: block;
    text-decoration: none;
    transition: opacity 100ms linear;
}

.text a:hover{
    opacity: 0.8;
}

.text h2{
    font-size: calc(1rem + 5vw);
    color: white;
}

.text p{
    font-size: 3rem;
    color: white;
}


.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.about-content {
    flex: 1;
    padding-right: 20px;
}

.about-content h2 {
    font-size: 2em;
    padding-bottom: 120px;
}

.about-content p {
    font-size: 1.2em;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 130px;
}

.about-image {
    flex: 1;
}

.about-image img {
    max-width: 70%;
    height: auto;
}
.content1 h2{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
}

#about{
    margin-top: 150px;
}

.content2 h2{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    margin-top: 150px;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row {
    display: flex;
}
.button {
    position: relative;
    margin: 10px;
    cursor: pointer;
    overflow: hidden;

}
.button .txt {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 35px;
    text-align: center;
}
.button img {
    width: 400px;
    height: 300px;
    object-fit: cover;
}
.button:hover{
    transform: scale(1.1);
}

.orders {
    text-align: center;
}

.orders h2{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    margin-top: 150px;
}
.orders img {
    max-width: 100%;
    height: 600px;
    width: 800px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .content2 h2 {
        font-size: 40px;
        margin-top: 100px;
    }

    .button img {
        width: 300px;
        height: 200px;
    }

    .button .txt {
        font-size: 25px;
    }
}

@media (max-width: 480px) {
    .content2 h2 {
        font-size: 30px;
        margin-top: 50px;
    }

    .button img {
        width: 200px;
        height: 150px;
    }

    .button .txt {
        font-size: 20px;
    }
}

.box-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
}

.box {
    flex: 1;
    margin: 0 10px;
}

.box h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.box p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.box a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
}

.box a:hover {
    text-decoration: underline;
}

.gallery h1{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 60px;
    margin-top: 150px;
}

.image-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-img {
    position: relative;
    margin: 10px;
    overflow: hidden;
    width: 1000px;
    height: 400px;
}

.gallery-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.gallery-img:hover img {
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .gallery-img {
        width: 100%;
        height: auto;
    }
}

.chef {
    padding: 100px 0;
    text-align: center;
}

.chef .heading {
    color: #333;
    margin-bottom: 50px;
}

.chef .box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.chef .box {
    width: 300px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.chef .box:hover {
    transform: translateY(-10px);
}

.chef .box img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 20px;
}

.chef .box h3 {
    margin-bottom: 10px;
    font-size: 24px;
    color: #333;
}

.chef .box p {
    margin-bottom: 20px;
    color: #666;
}

.chef .box .share {
    display: flex;
    justify-content: center;
}

.chef .box .share a {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    margin: 0 5px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    transition: background-color 0.3s ease;
}

.chef .box .share a:hover {
    background-color: #666;
}

.chef h1{
    font-size: 60px;
    text-align: center;
    margin-top: 100px;
}


.review {
    padding-top: 60px;
    text-align: center;
}

.review .heading3 {
    font-size: 60px;
    margin-bottom: 20px;
}

.review form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 600px; 
}
.review form .inputBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0;
}

.review form textarea,
.review form .inputBox input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.review form textarea {
    height: 150px;
    width: 100%; 
    resize: none;
    padding: 10px;
    font-size: 16px;
    color: #333;
    margin: 10px 0;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}


.review form .btn2 {
    align-self: center; 
    margin-top: auto; 
    padding: 15px 30px; 
    font-size: 20px; 
    background-color: #4CAF50; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.review form .btn2:hover {
    background-color: #176237;
}
.credit {
    margin-top: 50px;
    font-size: 0.8rem;
    text-align: center;
}

.credit span {
    font-weight: bold;
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram,
.fa-pinterest {
    margin-right: 10px;
}

.footer {
    background-color: #0f4127;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
@media (max-width: 768px) {
    body {
      background-color: lightblue;
    }
  }
  