<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maharashtra</title>
    <link rel="stylesheet" href="css/gujarat.css">
</head>
<body>
    <nav class="navbar">
        <div class="logo"><img src="/images/restaurantBEE.png" alt="logo"></div>
        <ul>
            <li><a href="home">Home</a></li>
            <li><a href="home#menu">Menu</a></li>
            <li><a href="maharashtra">Marathi</a></li>
            <li><a href="southindian">South Indian</a></li>
        </ul>
    </nav>
    <div class="heading">GUJARATI CUISINE</div>
    <div class="container">
        <a href="starters2" class="btn"> <img src="/images/starter.png" alt="Starter">
        <span class="txt">Starters</span></a>
        <a href="maincourse2" class="btn"><img src="/images/Maincourse.png" alt="Main Course">
        <span class="txt">Main Course</span></a>
        <a href="desserts2" class="btn"><img src="/images/dessert.png" alt="Desserts">
        <span class="txt">Desserts</span></a>
    </div>
</body>
</html>
